<%= render 'menu' %>
<div class="">
<div class="col-lg-12 col-md-12 box-admin">
	<h2 class="label-admin">Meus Produtos</h2>
	<input type="text" id="search" placeholder="Buscar Produto" style="float: right; margin-bottom: 1em;">
	<table class="table table-bordered">
		<thead>
			<th>Nº</th>
			<th>Nome</th>
			<th>Preço</th>
			<th>Categoria</th>
			<th>Ativo?</th>
			<th>Novidade?</th>
			<th>Promoção?</th>
			<th>Preço Promoção</th>
		</thead>
		<tbody id="table">
			<% @products.each do |product| %>
			<tr>
				<td><%= product.id %></td>
				<td><%= product.name %></td>
				<td><%= number_to_currency product.price %></td>
				<td>
					<% if product.category != nil %>
						<%= product.category.name %></td>
					<% end %>
				<td>
					<% if product.active == true %>
						<%= 'Sim' %>
					<% else %>
						<%= 'Não' %>
					<% end %>
				</td>
				<td>
					<% if product.news == true %>
						<%= 'Sim' %>
					<% else %>
						<%= 'Não' %>
					<% end %>
				</td>
				<td>
					<% if product.offer == true %>
						<%= 'Sim' %>
					<% else %>
						<%= 'Não' %>
					<% end %>
				</td>
				<td><%= moneybr(product.price_offer) %></td>
				<td class="btn-icon" style="width: 50px;">
					<%= link_to admin_product_path(product) do %>
						<i class="fa fa-eye" title="Visualizar"></i>
					<% end %>		
				</td>	
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>

<script type="text/javascript">
	$(function(){
	    $("#search").keyup(function(){
	        var texto = $(this).val();
	        $("#table tr").css("display", "table-row");
	        $("#table tr").each(function(){
	            if($(this).text().toUpperCase().indexOf(texto.toUpperCase()) < 0)
   				   $(this).css("display", "none");
	        });
	    });
	});
</script>