<%= render 'menu' %>

<div class="container">
	<div class="col-lg-12 col-md-12 col-sm-12 head-order">
		<h2>PEDIDO Nº <%= @order.id %></h2>
		<br>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 box-informations-order">
		<h4 style="margin-left: 1ex;"><b>DADOS DO CLIENTE</b></h4><br>
		<div class="col-lg-7 col-md-7" style="float: left;">
			<p>NOME: <%= @order.client.name %></p>
			<p>CPF: <%= @order.client.cpf %></p>
			<p>TELEFONE: <%= @order.client.phone %></p>
			<p>ENDEREÇO: <%= @order.client.address %></p>
		</div>
		<div style="float: left;" class="col-lg-5 col-md-5">
			<p>CIDADE: <%= @order.client.city %></p>
			<p>UF: <%= @order.client.uf %></p>
			<p>CEP: <%= @order.client.cep %></p>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 box-informations-order">
		<h4 style="margin-left: 1ex;"><b>ITENS DO PEDIDO</b></h4><br>
		<% @order.item.each do |item| %>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div>
					<span style="margin-right: 2ex;"><%= image_tag item.product.files.first, height: '80px'%></span> 
					<span><%= item.product.name %></span>
					<div style="float: right; margin-top: 30px;">
						<span><%= moneybr item.product.price %> x</span>
						<span><%= item.amount %>un</span> 
						<span style="margin-left: 1ex"><b>Total:</b> <%= moneybr item.price %></span>
					</div>	
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 box-informations-order">
		<h4><b>RESUMO DO PEDIDO</b></h4><br>
		<p>QTDE. ITENS: <%= @order.item.count %></p>
		<p>VALOR ITENS: <%= number_to_currency @total_order %></p>
		<p>FRETE: <%= number_to_currency @order.shipping %></p>
		<p>TOTAL: <%= number_to_currency @order.total %></p>
	</div>


			<h3>Comprovante: 
				<% if @order.file.attached? %>
					<%= link_to 'exibir', url_for(@order.file) %>
				<% else %>
					<span>Não Anexado</span>
				<% end %>
			</h3>
			<h3>
			<% if @order.status == 'pendente' %>
				<%= link_to 'Registrar Recebimento', admin_orders_confirm_payment_path(@order), class: 'btn btn-success', data:{confirm: 'Deseja Registrar o Pagamento desse Pedido?'} %>
			<% elsif @order.status == 'pago' %>
				<%= link_to 'Registrar Envio', admin_orders_confirm_send_path(@order), class: 'btn btn-success', data:{confirm: 'Deseja Registrar o Envio desse Pedido?'} %>
			<% elsif @order.status == 'enviado' %>
				<%= link_to 'Registrar Recebimento', admin_orders_confirm_received_path(@order), class: 'btn btn-success', data:{confirm: 'Deseja Registrar o Recebimento desse Pedido?'} %>
			<% end %>
			</h3>
		</div>
	</div>
</div>