<%= render 'menu' %>

<div class="row">
	<div class="col-lg-8 col-md-8 head-order">
		<h2>PEDIDO Nº <%= @order.id %></h2>
		<br><br><br>
	</div>

	<div class="col-lg-8">
		<div class="col-lg-8 col-md-8">
			<h1 style="text-align: center; font-weight: bold; margin-bottom: 2em;">Itens do Pedido</h1>
			<% @order.item.each do |item| %>
				<div class="item-order col-lg-12 col-md-12">
					<div class="col-lg-5 col-md-5">
						<%= image_tag item.product.files.first %>
					</div>
					<div class="col-lg-7 col-md-7">
						<h3><%= item.product.name %></h3>
						<p style="color: #FE642E;"><%= number_to_currency item.product.price %> Un.</p>
						<h4>Qtde. <%= item.amount %></h4>
						<h4>Valor: <%= number_to_currency item.price %></h4>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-lg-4 col-md-4 resume-order">
			<h2 style="font-weight: bold;">Resumo do Pedido</h2>
			<h3>Qtd. Itens: <%= @order.item.count %></h3>
			<h3>Total Pedido: <%= number_to_currency @total_order %></h3>
			<h3>Frete: <%= number_to_currency @order.shipping %></h3>
			<h3>Total: <%= number_to_currency @order.total %></h3>
			<h3>Status: <%= @order.status %></h3><br>
			<h3>Comprovante: 
				<% if @order.file.attached? %>
					<%= link_to 'exibir', url_for(@order.file) %>
				<% else %>
					<span>Não Anexado</span>
				<% end %>
			</h3>
			<h3>
			<% if @order.status == 'pendente' %>
				<%= link_to 'Registrar Recebimento', admin_orders_confirm_payment_path(@order), class: 'btn btn-success', data:{confirm: 'Deseja Registrar o Pagamento desse Pedido?'} %>
			<% elsif @order.status == 'pago' %>
				<%= link_to 'Registrar Envio', admin_orders_confirm_send_path(@order), class: 'btn btn-success', data:{confirm: 'Deseja Registrar o Envio desse Pedido?'} %>
			<% elsif @order.status == 'enviado' %>
				<%= link_to 'Registrar Recebimento', admin_orders_confirm_received_path(@order), class: 'btn btn-success', data:{confirm: 'Deseja Registrar o Recebimento desse Pedido?'} %>
			<% end %>
			</h3>
		</div>
	</div>
	<div class="col-lg-8 col-md-8">
		<h2 align="center"><b>Dados do cliente</b></h2><br>
		<h4>NOME: <%= @order.client.name %></h4>
		<h4>CPF: <%= @order.client.cpf %></h4>
		<h4>TELEFONE: <%= @order.client.phone %></h4>
		<h4>ENDEREÇO: <%= @order.client.address %></h4>
		<h4>CIDADE: <%= @order.client.city %></h4>
		<h4>UF: <%= @order.client.uf %></h4>
		<h4>CEP: <%= @order.client.cep %></h4>
	</div>
</div>