<div class="box-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <a href="">
	      	<%= image_tag ('slide1.jpeg'), class: 'd-block w-100', alt: 'First slide' %>
	      </a>
	    </div>
	    <div class="carousel-item">
	      <%= image_tag ('slide2.jpeg'), class: 'd-block w-100', alt: 'Second slide' %>
	    </div>
	    <div class="carousel-item">
	      <%= image_tag ('slide3.jpeg'), class: 'd-block w-100', alt: 'Third slide' %>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>

<div class="col-lg-11 col-md-11 col-sm-11 label-text">
	<h3>Conheça Algumas de Nossas Ofertas</h3>
</div>

<h4 class="text-center" style="margin-bottom: 3ex;">Arraste para o lado</h4>

<div class="col-lg-11 col-md-12 col-sm-12 mt-3" style="margin: 1px auto;">
	<div id="carouselSales" class="owl-carousel owl-theme">	
		<% @offers.each do |product| %>
			<div class="item">
				<%= link_to product_path(product) do %>
					<div class="card">
						<%= image_tag (product.files.last), class: 'card-img-top' %>
						<div class="card-body">
							<h4 class="card-title text-center"><%= product.name %></h4>
							<h5 class="card-text text-center">
								<% if product.offer == true %>
									<%= moneybr product.price_offer %> <span><%= moneybr product.price %></span>
								<% else %>
									<%= moneybr product.price %>
								<% end %>
							</h5>
							<%= button_to 'COMPRAR', product_path(product), method: :get, class: 'btn btn-buy card-btn' %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="text-center">
		<h5><%= link_to 'VEJA MAIS OFERSTAS', offers_path, class: '' %></h5>	
	</div>
</div>

<div class="label" style="margin-top: 10em;"> <!-- Label news -->
	<%= link_to news_path do %>
		<%= image_tag 'banner1.png', :width=> '100%' %>
	<% end %>
</div> <!-- end Label news -->

<h4 class="text-center" style="margin-bottom: 3ex;">Arraste para o lado</h4>

<div class="col-lg-11 col-md-12 col-sm-12 mt-4" style="margin: 1px auto;">
	<div id="carouselSales" class="owl-carousel owl-theme">	
		<% @news.each do |product| %>
			<div class="item">
				<%= link_to product_path(product) do %>
					<div class="card">
						<%= image_tag (product.files.last), class: 'card-img-top' %>
						<div class="card-body">
							<h4 class="card-title text-center"><%= product.name %></h4>
							<h5 class="card-text text-center">
								<% if product.offer == true %>
									<%= moneybr product.price_offer %> <span><%= moneybr product.price %></span>
								<% else %>
									<%= moneybr product.price %>
								<% end %>
							</h5>
							<%= button_to 'COMPRAR', product_path(product), method: :get, class: 'btn btn-buy card-btn' %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="text-center">
		<h5><%= link_to 'VEJA MAIS NOVIDADES', news_path, class: '' %></h5>	
	</div>
</div>

<div class="">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label sale"> 
		<%= image_tag 'blog.png', :width=> '100%' %>
	</div>
</div>

<script>
	$('.owl-carousel').owlCarousel({
	    loop:true,
	    margin:10,
	    nav:true,
	    responsive:{
	        0:{
	            items:2
	        },
	        600:{
	            items:3
	        },
	        1000:{
	            items:4
	        }
	    }
	})
</script>
