<div class="row"> <!-- Label news -->
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="label-pink">
			<h1>Confira todas as nossas novidades!</h1>
		</div>	
	</div>
</div> <!-- end Label news -->

<div class="row" style="margin-top: 5em;"> <!-- session products news -->
	<div class="col-lg-3 col-md-3 col-sm-12 box-product" >
		<div class="product">
			<%= image_tag 'prod1.jpg', :width=> '80%' %>
		</div>
		<div class="product">
			<h3>hidratante facial neltrogena hydro bost</h5>
		</div>
		<div class="product" style="color: white; background: #02c2b2ff; width: 80%">
			<h2>R$ 71,99</h2>
		</div>
		<div class="product" >
			<%= button_to 'COMPRAR', root_path, class: 'btn btn-default btn_buy' %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 box-product" >
		<div class="product">
			<%= image_tag 'prod2.jpg', :width=> '80%' %>
		</div>
		<div class="product">
			<h3>hidratante facial neltrogena hydro bost</h5>
		</div>
		<div class="product" style="color: white; background: #02c2b2ff; width: 80%">
			<h2>R$ 71,99</h2>
		</div>
		<div class="product" >
			<%= button_to 'COMPRAR', root_path, class: 'btn btn-default btn_buy' %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 box-product" >
		<div class="product">
			<%= image_tag 'prod3.jpg', :width=> '80%' %>
		</div>
		<div class="product">
			<h3>hidratante facial neltrogena hydro bost</h5>
		</div>
		<div class="product" style="color: white; background: #02c2b2ff; width: 80%">
			<h2>R$ 71,99</h2>
		</div>
		<div class="product" >
			<%= button_to 'COMPRAR', root_path, class: 'btn btn-default btn_buy' %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 box-product" >
		<div class="product">
			<%= image_tag 'prod3.jpg', :width=> '80%' %>
		</div>
		<div class="product">
			<h3>hidratante facial neltrogena hydro bost</h5>
		</div>
		<div class="product" style="color: white; background: #02c2b2ff; width: 80%">
			<h2>R$ 71,99</h2>
		</div>
		<div class="product" >
			<%= button_to 'COMPRAR', root_path, class: 'btn btn-default btn_buy' %>
		</div>
	</div>
</div> <!-- end session products new -->
<div class="row"> <!-- session products news -->
	<div class="col-lg-3 col-md-3 col-sm-12 box-product" >
		<div class="product">
			<%= image_tag 'prod1.jpg', :width=> '80%' %>
		</div>
		<div class="product">
			<h3>hidratante facial neltrogena hydro bost</h5>
		</div>
		<div class="product" style="color: white; background: #02c2b2ff; width: 80%">
			<h2>R$ 71,99</h2>
		</div>
		<div class="product" >
			<%= button_to 'COMPRAR', root_path, class: 'btn btn-default btn_buy' %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 box-product" >
		<div class="product">
			<%= image_tag 'prod2.jpg', :width=> '80%' %>
		</div>
		<div class="product">
			<h3>hidratante facial neltrogena hydro bost</h5>
		</div>
		<div class="product" style="color: white; background: #02c2b2ff; width: 80%">
			<h2>R$ 71,99</h2>
		</div>
		<div class="product" >
			<%= button_to 'COMPRAR', root_path, class: 'btn btn-default btn_buy' %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 box-product" >
		<div class="product">
			<%= image_tag 'prod3.jpg', :width=> '80%' %>
		</div>
		<div class="product">
			<h3>hidratante facial neltrogena hydro bost</h5>
		</div>
		<div class="product" style="color: white; background: #02c2b2ff; width: 80%">
			<h2>R$ 71,99</h2>
		</div>
		<div class="product" >
			<%= button_to 'COMPRAR', root_path, class: 'btn btn-default btn_buy' %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 box-product" >
		<div class="product">
			<%= image_tag 'prod3.jpg', :width=> '80%' %>
		</div>
		<div class="product">
			<h3>hidratante facial neltrogena hydro bost</h5>
		</div>
		<div class="product" style="color: white; background: #02c2b2ff; width: 80%">
			<h2>R$ 71,99</h2>
		</div>
		<div class="product" >
			<%= button_to 'COMPRAR', root_path, class: 'btn btn-default btn_buy' %>
		</div>
	</div>
</div> <!-- end session products new -->