<div class="container">
	<div class="col-lg-12 col-md-12 head-order">
		<br><br>
		<h2>CARRINHO DE COMPRAS</h2><br><br>
	</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12" style="float: left;">
	<div class="col-lg-8 col-md-8 col-sm-12 box-informations-order" style="border: none;">
		<% @order.item.each do |item| %>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div>
					<span style="margin-right: 2ex;"><%= image_tag item.product.files.first, height: '80px'%></span> 
					<span><%= item.product.name %></span>
					<div style="float: right; margin-top: 30px;">
						<span>
							<% if item.product.offer = true %>
								<%= moneybr item.product.price_offer %> 
							<% else %>
								<%= moneybr item.product.price %> 
							<% end %>
							x
						</span>
						<span><%= item.amount %>un</span> 
						<span style="margin-left: 1ex"><b>Total:</b> <%= moneybr item.price %></span>
						<span class="btn-icon" style="margin-left: 2ex;">
							<%= link_to edit_order_item_path(@order, item) do %>
								<i class="fa fa-edit" title="Editar"></i>
							<% end %>
						</span>
						<span class="btn-icon">
							<%= link_to order_item_path(@order, item), method: :delete, data:{confirm: 'Deseja remover este item?'} do %>
								<i class="fa fa-trash" title="Remover do carrinho"></i>
							<% end %>
						</span>
					</div>	
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-12 resume-order">
		<h3 style="font-weight: bold;">Resumo do Pedido</h3>
		<h5>Qtd. Itens: <%= @order.item.count %></h5>
		<h5>Total Pedido: <%=  %></h5>
		<h5>Frete: <%= number_to_currency @order.shipping %></h5>
		<h4>Total a Pagar: <%= number_to_currency @order.total %></h4><br>
		<p><%= link_to 'Continuar Comprando', root_path, class: 'btn btn-orange' %></p>
		<p><%= link_to 'Finalizar Pedido', edit_order_path(@order), class: 'btn btn-blue' %></p>
	</div>
</div>
