<div class="row">
	<div class="col-lg-12 col-md-12 head-order">
		<h2>ADICIONAR AO PEDIDO</h2>
	</div>
	<div class="container">
		<div class="col-lg-6 col-md-6 show-product-image">
		<%= image_tag @item.product.files.last %>
		</div>
		<div class="col-lg-4 col-md-4">
			<h2 class="show-product-name"><%= @item.product.name %></h2>
			<h2 class="show-product-price"><%= number_to_currency @item.price %></h2>
			<%= form_for [@order, @item] do |f| %>
				<div>
					<h2>Qtde.</h2>
					<%= f.number_field :amount %>
				</div>
				<div style="margin-top: 1em;">
					<%= f.submit :Adicionar, class: 'btn btn-blue' %>
				</div>
			<% end %>
		</div>
	</div>
</div>