<!DOCTYPE html>
<html>
  <head>
    <title>Attivus Farma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
  </head>

  <body>

    <header id="top-bar" class="header-bar">
      <div class="col-lg-3 col-md-3 col-sm-12 header-logo">
        <%= link_to (image_tag 'logo2.png'), root_path %>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 header-text">
        <h3>
          Farmácia com <br>
          Manipulação
        </h3>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 header-menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Procurar Produto" aria-label="Search">
              <button class="btn btn-outline-blue my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <ul class="navbar-nav mr-auto" style="margin-left: 50px">
              <% if client_signed_in? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" title="<%= current_client.email %>"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'Minha Conta', root_path, class: 'dropdown-item' %>
                    <%= link_to 'Pedidos', root_path, class: 'dropdown-item' %>
                    <div class="dropdown-divider"></div>
                    <%= link_to 'Sair', destroy_client_session_path, method: :delete, data:{confirm: 'Encerrar Sessão?'}, class: 'dropdown-item' %>
                  </div>
                </li>
                <li>
                  <% if current_client.orders.last != nil && current_client.orders.last.status == 'aberta' %>
                    <%= link_to order_path(current_client.orders.last), class: 'nav-link' do %>
                      <i class="fa fa-shopping-cart"></i>
                      <%= number_to_currency current_client.orders.last.total %>
                    <% end %>
                  <% else %>
                    <%= link_to root_path, class: 'nav-link' do %>
                      <i class="fa fa-shopping-cart"></i>
                      Vazio
                    <% end %>
                  <% end %>
                </li>
              <% else %>
                <%= link_to 'Entrar', new_client_session_path, class: 'btn btn-light' %>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    
    <nav id="menu-bar" class="navbar navbar-expand-lg navbar-light nav-blue">
      <div class="mobile">
        <a href="#" class="logo-mobile"><%= image_tag 'logo.png', width: '90px' %></a>
      </div>
      <div class="mobile" style="margin-left: 3em; margin-top: 1em; width: 200px;">
        <% if client_signed_in? %>
          <div class="nav-item dropdown" style="float: left;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" title="<%= current_client.email %>"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Minha Conta', root_path, class: 'dropdown-item' %>
              <%= link_to 'Pedidos', root_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Sair', destroy_client_session_path, method: :delete, data:{confirm: 'Encerrar Sessão?'}, class: 'dropdown-item' %>
            </div>
          </div>
          <div>
            <% if current_client.orders.last != nil && current_client.orders.last.status == 'aberta' %>
              <%= link_to order_path(current_client.orders.last), class: 'nav-link' do %>
                <i class="fa fa-shopping-cart"></i>
                <%= number_to_currency current_client.orders.last.total %>
              <% end %>
            <% else %>
              <%= link_to root_path, class: 'nav-link' do %>
                <i class="fa fa-shopping-cart"></i>
                Vazio
              <% end %>
            <% end %>
          </div>
        <% else %>
          <%= link_to 'Entrar', new_client_session_path, class: 'btn btn-light' %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-menus">
          <form class="form-inline my-2 my-lg-0 mobile">
              <input class="form-control mr-sm-2" type="search" placeholder="Procurar Produto" aria-label="Search">
              <button class="btn btn-outline-blue my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          <%= link_to 'Ofertas', offers_path, class: 'nav-item nav-link' %>
          <%= link_to 'Novidades', news_path, class: 'nav-item nav-link' %>
          <%= link_to 'Categorias', root_path, class: 'nav-item nav-link' %>
          <%= link_to 'Profissional', contacts_professional_path, class: 'nav-item nav-link' %>
          <%= link_to 'Orçamentos', contacts_budget_path, class: 'nav-item nav-link' %>
          <%= link_to 'Sobre Nós', root_path, class: 'nav-item nav-link' %>
        </div>
      </div>
    </nav>

    <div>
      <div id="info-bar">
        <% if flash[:notice] %>
          <div class="alert alert-info" style="margin-top: 2ex;">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>

    <div id="bottom-bar" class="col-lg-12 col-md-12 col-sm-12 footer">
      <div class="footer-up ">
        <div class="col-lg-12 col-md-12 col-sm-12 payment-title">
          <h1>FACILIDADE NO PAGAMENTO</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 payment-method">
          <p><%= image_tag 'deposito.png'%></p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 payment-method">
          <p><%= image_tag 'visa.png' %></p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 payment-method">
          <p style="margin-top: -15px"><%= image_tag 'mastercard.png' %></p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 payment-method">
          <p><%= image_tag 'elo.png' %></p>
        </div>
      </div>
    </div>
    <div id="footer-bar" class="col-lg-12 col-md-12 col-sm-12 footer-down">
      <div class="footer-menu">
        <span>
          <a href="https://api.whatsapp.com/send?phone=5589981479987"><i class="fa fa-whatsapp"></i></a>
        </span>
        <span>
          <a href="https://www.instagram.com/attivusfarmamanipulacao/"><i class="fa fa-instagram"></i></a>
        </span>
        <span>
          <a href="https://www.facebook.com/attivusfarma/"><i class="fa fa-facebook"></i></a>
        </span>
        <span>
          <a href="/contact_me"><i class="fa fa-phone"></i></a>
        </span>
      </div>
      <div style="margin-top: 20px">
        <p align="center"><%= image_tag ('logo.png'), width: '80px' %></p>
      </div>
      <div>
        <p class="copyright">&copy; todos os direitos reservados | desenvolvido por m.dev web developments</p>
      </div>
    </div>
    <script>
      hideBars();
      /* setTimeout(function() {
        window.location.reload(0);
      }, 2600); */
    </script>
  </body>
</html>
